@{
    ViewData["Title"] = "Panel de Admin";
}

<div class="text-center">
    <h1 class="display-4 text-success">@ViewData["Title"]</h1>
    <p class->@ViewBag.Mensaje</p>
    <p class="text-warning">Si puedes ver esto, significa que tu rol es "Admin". ¡Felicitaciones!</p>
</div>