@using WebDeportivo.Models.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                <h1 class="card-title text-center text-warning mb-4">@ViewData["Title"]</h1>

                <form asp-action="Login" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="email@ejemplo.com" />
                        <label asp-for="Email" class="form-label"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Contraseña" />
                        <label asp-for="Password" class="form-label"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                    </div>
                </form>

                <div class="text-center mt-3">
                    <a asp-action="Recuperar">¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}