@{
    ViewData["Title"] = "Acceso Denegado";
}

<header class="text-center">
    <h1 class="display-4 text-danger">@ViewData["Title"]</h1>
    <p class="h4 text-danger">
        No tienes permiso para ver esta página.
    </p>
    <p class="text-warning mt-4">
        (Probablemente seas un usuario con rol "Pendiente" intentando entrar al panel de Admin).
    </p>
</header>