@{
    ViewData["Title"] = "Actividades";
}

<div class="text-center">
    <h1 class="display-4 text-warning">@ViewData["Title"]</h1>
    <p>Esta es la página secreta de actividades.</p>
    <p>Si la ves, ¡es porque estás logueado!</p>
</div>
