@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-warning">Bienvenido a WebDeportivo</h1>
    <p>La mejor plataforma (en construcción) del mundo.</p>
</div>